.eggWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:rgb(244, 212, 217);
    overflow-y: hidden;
}

.parallaxBackgroundEgg {
    background-image: url(https://archives.bulbagarden.net/media/upload/1/1f/Johto_Route_34_HGSS.png);
    background-position-y: 0%;
    background-position-x: 50%;
    background-size: cover;
    height: 200vh;
    width: 100%;
    position: relative;
    top:105vh;
    opacity: .7;
}


.eggMsg {
    background-color: #fff;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #999;
    cursor: default;
    font-size: 17px;
    position: relative;
    top:-240px;
    left:80px;
    transition: opacity .2s linear;
    animation: eggMsg 2s infinite;
}

@keyframes eggMsg {
    0% {top:-240px}
    50% {top:-245px}
    100% {top:-240px}
}

.eggAnimation {
    width: 60%;
    animation: egg 1.5s infinite;
    position: relative;
    cursor: pointer;
    transition: all .5s linear;
    opacity: 1;
    overflow-y: hidden;
}

@keyframes egg {
    0% {left:10px; transform: rotate(20deg);}
    10% {left:-5px; transform: rotate(-10deg);}
    30% {left:0px; transform: rotate(0deg);}
}

.eggStatic {
    width: 70%;
}

@media only screen and (max-width:425px) {
    
    
}

@media only screen and (max-width:375px) {
    
    .eggAnimation {
        width:70%;
    }

    .eggStatic {
        width: 90%;
    }

    .eggMsg {
        top:-240px;
        left:50px;
    }
    
}