.headerWrapper {
    height: 200vh;  
}

.parallaxBackground {
    background-image: url(https://wallpaperaccess.com/full/1089608.png);
    background-position-x: 50%;
    background-position-y: 0%;
    height: 200vh;
    width: 100%;
    background-size: cover;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: fixed;
    z-index: -10;
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    z-index: 10;
    top:40vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    text-shadow: 1px 1px 5px #333;
}

.title h2 {
    font-size: 2em;
    transition: all .5s ease-in-out;
    position: relative;
}

.title h1 {
    font-size:7em;
    margin:0px;
    transition: all 1s ease-in-out;
    transition-delay: 1s;
    position: relative;
}

@media only screen and (max-width:768px) {

    .title {
        text-align: center;
    }

    .title h1 {
        font-size: 12vw;
    }
  
}