.fodWrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.fairyWrapper, .dragonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:all .4s ease-in;
}

.fairyWrapper {
    background-image: url(https://wallpaperaccess.com/full/8131299.png);
    background-size: cover;

}

.dragonWrapper {
    background-image: url(https://media.moddb.com/images/games/1/20/19885/Cave_Stage_Background.png);
    background-size: cover;
}

.fairyQuestionWrapper, .dragonQuestionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:390px;
    transition: all .5s linear;
    transition-delay: .5s;
}



.ball {
    position: relative;
    width: 70%;
    cursor: pointer;
    overflow: hidden;
    transition: all .2s linear;
    transition-delay: .5s;
    opacity: 1;
}

.dreamball {
    animation: dreamballMove 2s infinite;
}

@keyframes dreamballMove {
    0% {transform: rotate(0deg);left:0px;}
    25% {transform: rotate(30deg);left:10px;}
    50% {transform: rotate(-30deg);left:-20px;}
    100% {transform: rotate(0deg);left:0px;}
}

.heavyball {
    animation: heavyballMove 2s infinite;
}

@keyframes heavyballMove {
    0% {transform: rotate(0deg);left:0px;}
    25% {transform: rotate(-20deg);left:-20px;}
    50% {transform: rotate(10deg);left:10px;}
    75% {transform: rotate(-10deg);left:-10px;}
    100% {transform: rotate(3deg);left:3px;}
}

.fairyButton, .dragonButton {
    background-color: transparent;
    /* transition: opacity 2s ease-in-out;
    transition-delay: 1s; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.fairyDataWrapper, .dragonDataWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.fairyDataWrapper h2, .dragonDataWrapper h2 {
    text-transform: capitalize;
}

.fadeIn {
    opacity:0;
    transition: all .5s linear;
    transition-delay: 1.5s;
    height:0px;
    overflow-y: hidden;
}

.fadeOut {
    opacity:1;
    transition: all .3s linear;
    transition-delay: 1s;
}


.fairyOuterHiddenWrapper, .dragonOuterHiddenWrapper {
    overflow-y: hidden;
    height:250px;
    transition: all .2s ease-in-out;
    transition-delay: 1s;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-evenly;
}

.fairyInnerHiddenWrapper, .dragonInnerHiddenWrapper {
    height:200vh;
    overflow-y: hidden;
    text-align: center;
    position: relative;
    top:0vh;
    transition: all .5s ease-in-out;
    transition-delay: 1s;
}

@media only screen and (max-width:768px) {

    .fairyQuestionWrapper, .dragonQuestionWrapper {
        width:300px;
    }

    .fairyDataWrapper h2, .dragonDataWrapper h2 {
        font-size: 3vw;
        line-height: 6vw;
    }

}

@media only screen and (max-width:425px) {


    .fairyDataWrapper h2, .dragonDataWrapper h2 {
        font-size: 4vw;
        line-height: 7vw;
    }

    .fairyQuestionWrapper, .dragonQuestionWrapper {
        width:140px;
        height:160px;
    }


}