
.wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
    position: relative;
    top:100vh;
    /* margin-top: -20px; */
    overflow-y: hidden;
}

.msgWrapper {
    position:absolute;
    z-index: 99;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.overlay {
    position:inherit;
    z-index: 99;
    background-color:rgba(9, 9, 9, .5);
    height: inherit;
    width: inherit;
}

.msg {
    position: absolute;
    z-index: 100;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 4px #888;
    border-radius: 20px;
    transition:all 1s linear;
    padding:20px;
    font-size:18px;
    text-align: center;
}

.okay {
    overflow-y: hidden;
    border:2px solid rgb(206, 29, 29);
    background-color: transparent;
    color:rgb(206, 29, 29);
    margin:20px 0px 0px 0px;
    padding:20px 0px;
    cursor: pointer;
}

.okay:hover {
    color:#fff;
    background-color: rgb(206, 29, 29);
}


.grassWrapper, .fireWrapper, .waterWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
}


.grassWrapper h3, .fireWrapper h3, .waterWrapper h3 {
    color:rgb(187, 19, 19);
    overflow-y: hidden;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}


@media only screen and (max-width:1240px) {

    .wrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width:1024px) {
    .cardWrapper {
        width: 90%;
    }
    
}


@media only screen and (max-width:950px) {

    .wrapper {
        display:flex;
        flex-direction: column;
        height:100vh;
        width: 100%;
    }

    .grassWrapper, .fireWrapper, .waterWrapper {
        width:100%;
        margin:5px 0px;
    }

    .cardWrapper {
        width: 95%;
        align-items: stretch;
        padding: 0px 15px;
    }

}

@media only screen and (max-width:768px) {

    .wrapper {
        margin-top: 0px;
    }

}


@media only screen and (max-width:425px) {

    .grassWrapper h3, .fireWrapper h3, .waterWrapper h3 {
        font-size: 4vw;
    }
}







