* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eggOuter, .eggOuterTriple {
  /* border:1px solid black; */
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow-y: hidden;
}

.eggOuterDouble, .eggOuterDoubleOpen {
  /* border:1px solid black; */
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  height:350px;
  width:100%;
  transition: all .2s ease-in-out;
}

.eggOuter {
  width:425px;
}

.eggOuterTriple {
  width:auto;
}

.redTitle, .redTitleDouble, .redTitleTriple {
  background-color: rgb(206, 29, 29);
  color:#fff;
  padding:5px 20px;
  border-radius: 15px;
  font-weight: 700;
  text-shadow: 2px 2px 0px rgb(168, 21, 21);
  font-size: 30px;
  position: absolute;
  top:0px;
  left:50px;
  overflow-y: hidden;
}

.eggInner, .eggInnerDouble, .eggInnerDoubleOpen, .eggInnerTriple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: #fff;
  padding:20px;
  border-radius: 20px;
  overflow-y: hidden;

}

.eggInnerDouble {
  height:100%;
  transition: all 1s linear;
  overflow-y: hidden;
}

.eggCopy, .eggCopyDouble, .eggCopyTriple {
  padding:7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: hidden;

}

.eggImgWrapper, .eggImgWrapperDouble, .eggImgWrapperTriple {
  width: 100%;
  overflow-y: hidden;
}

.eggAniWrapper, .eggAniWrapperTriple {
  padding:5px;
  width: 100%;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  flex-direction: column;
  overflow-y: hidden;
}

.eggAniWrapperDouble {
  padding:5px;
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  flex-direction: column;
  overflow-y: hidden;
}

.buttonsWrapper, .buttonsWrapperDouble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 1;
  transition: all 1s linear;
  transition-delay: 1s;
}

.nameh2 {
  text-transform: capitalize;
  overflow-y: hidden;
}

.eggh2 {
  margin:0px 0px -35px 0px;
  text-transform: capitalize;
  overflow-y: hidden;
}

button {
  border:0px;
  padding:15px 25px;
  margin:10px 0px 0px 0px;
  width:60%;
  border-radius: 10px;
}

.buttonInactive {
  background-color: #fff;
  color:#000;
  opacity: .3;
  cursor:not-allowed;
}

.buttonInactive:hover {
  background-color: transparent;
}
.buttonInactive:active {
  position: relative;
  top:0px;
  left: 0px;
}

.add {
  background-color: #fff;
  font-weight: bold;
  color:rgb(184, 23, 23);
  font-size: 15px;
  cursor: pointer;
  border: 3px solid rgb(184, 23, 23);
  overflow-y: hidden;
}

.add:hover {
  color:#fff;
  background-color: rgb(184, 23, 23);
}

.add:disabled {
  background-color:transparent;
  font-weight: bold;
  color:rgba(184, 23, 23, .3);
  cursor: not-allowed;
  border:3px solid rgba(184, 23, 23, .3);
  box-shadow: none;
}

.add:disabled:hover {
  background-color: transparent;
  position: relative;
  top:0px;
  left:0px;
}


.add:active, .reRoll:active {
  position: relative;
  top:3px;
  left: 3px;
}

.reRollWrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.rollsLeftWrapper {
  width: 50%;
  padding:7px 5px 5px 5px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:6px 0px 0px 0px;
  overflow-y: hidden;
}

.rollsLeftText {
  padding:0px 0px 0px 5px;
  font-size: 18px;
}

.rollCounth1 {
  font-size: 50px;
}

.reRoll {
  background-color:transparent;
  color:#000;
  border:3px solid #000;
  width:50%;
  cursor:pointer;
  font-size: 15px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.reRoll:disabled {
  opacity: .3;
  cursor:not-allowed;
  position: relative;
  top:0px;
  left: 0px;
}

/* note this height  */
.animationWrapper {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow-y: hidden;

}

.animationWrapper img {
  width: 100px;
  animation: rotate 1s infinite ease-in-out;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  50% {margin:0px 0px 150px 0px}
  100% {transform: rotate(360deg);}
}

.pkmDisplay {
    background-color: #fff;
    padding:20px 10px;
    border-radius: 20px;
}

.cardTitle, .cardTitleSingle, .cardTitleDouble {
    font-size:3vw;
    color:rgb(187, 19, 19);
    text-shadow: 2px 2px 0px #ddd;
    padding:0px;
    margin:0px;
    overflow-y: hidden;
    text-transform: capitalize;
}

.cardImgWrapper, .cardImgWrapperSingle {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 310px;
}


.cardImgWrapper h2, .cardImgWrapperSingle h2 {
  text-transform: capitalize;
  overflow-y: hidden;
}

.monImg, .monImgSingle, .monImgDouble {
  height:270px;
}

.cardMobileFlex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardTextButtonMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobileShow {
  display:none;
}

@media only screen and (max-width:1240px) {

  .eggOuterTriple {
    width:520px;
    padding:5px 20px;
    /* border:1px solid black; */
  }

  .eggOuterDouble, .eggOuterDoubleOpen {
    width:40vw;
  }

  .eggInnerDouble {
    width:100%;
  }

  .eggInnerTriple {
    flex-direction: row;
    width: 100%;
    padding:5px;
  }

  .eggCopyTriple {
    flex-direction: row;
  }
  
  .eggImgWrapperTriple {
    width: 160px;
  }

  .eggAniWrapperTriple {
    height:180px;
    padding:0px
  }

  .buttonsWrapper {
    width:50%;
  }

  .buttonsWrapperDouble {
    width:100%;
  }

  .redTitleTriple {
    position: relative;
    top: 20px;
    left: 0px;
    font-size: 20px;
  }
  
  .redTitleDouble {
    position: relative;
    top: 20px;
    left: 0px;
    font-size: 25px;
  }

  .nameh2 {
    padding:10px 0px;
  }

  .pkmDisplay {
    padding:10px 10px;
}

  .cardTitle {
    font-size:7.5vw;
    overflow-y: hidden;
    margin:0px 0px 5px 0px;
  }
  
  .cardTitleSingle {
    font-size:5.5vw;
    overflow-y: hidden;
    margin:0px 0px 5px 0px;
  }

  .cardMobileFlex {
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
  }
  
  .cardImgWrapper {
    width: 50%;
    height: 90%;
    justify-content: flex-start;
    align-items: center;
  }
  
  .cardImgWrapperSingle {
    width: 90%;
    height: 90%;
    justify-content: flex-start;
    align-items: center;
  }

  .cardImgWrapperSingle h2 {
    font-size: 3vh;
    line-height: 5vh;
  }

  .cardTextButtonMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 70%;
  }

  .buttonWrapper {
    flex-direction: row;
    overflow-y: hidden;
    display: none;
}

  .mobileShow {
    display:flex;
    flex-direction: column;
    width:100%;
  }

   .monImg {
    height:90%;
  }
  
  .monImgSingle, .monImgDouble {
    width:240px;
    height: auto;
  }

  .reRollWrapper {
    align-items: center;
    width: 90%;
  }

  button {
    padding:10px 5px;
    margin:0px 0px 0px 0px;
  }

  .add {
    margin:0px 3px;
    font-size: 2vh;
    font-weight: normal;
    border:none;
    width: 90%;
  }

  .reRoll {
    margin:2px 3px;
    font-size: 1.5vh;
    font-weight: normal;
    border:1px solid #000;
    width: 90%;
  }

  .add {
    background-color:rgb(184, 23, 23);
    color:#fff;
  }

  .add:disabled {
    background-color:#ddd;
    font-weight: normal;
    color:#fff;
    margin:0px 3px;
    font-size: 15px;
    border: none;
  }

  .add:disabled:hover {
    background-color:#ddd;
  }

  .rollCounth1 {
    font-size: 30px;
  }

  .rollsLeftWrapper {
    margin: 0px 0px 0px 0px;
    width: 90%;
  }

  .rollsLeftText {
    padding: 0px 0px 0px 3px;
    font-size: 11px;
  }

  @keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {margin:0px 0px 60px 0px}
    100% {transform: rotate(360deg);}
  }

}

@media only screen and (max-width:768px) {
  .eggOuterDouble {
    width: 50vw;
    height:auto;
  }
  
  .eggOuterDoubleOpen {
    width: 450px;
    height:auto;
  }

  .eggInnerDoubleOpen {
    width:100%;
  }
}

@media only screen and (max-width:500px) {

  .eggOuterTriple {
    width:100%;
  }
}

@media only screen and (max-width:425px) {

  .eggOuter {
    width:100%;
  }

  .eggOuterDoubleOpen {
    width: 100vw;
  }

  .redTitle {
  position: relative;
  top:20px;
  left:0px;
  font-size: 25px;
  }
 
  .eggInner {
      width: 100%;
  }

  .cardTitle {
    font-size:8vw;
    line-height: 8vw;
  }
  
  .cardTitleSingle {
    font-size:8vw;
    line-height: 12vw;
  }

  .cardTitleDouble {
    font-size: 30px;
    line-height: 30px;
    padding: 0px 0px 30px 0px;
  }

  .cardImgWrapper {
    width: 70%;
  }

  .nameh2 {
    font-size: 20px;
  }
}

@media only screen and (max-width:325px) {

  .eggImgWrapperTriple {
    width: 150px;
  }

  .eggAniWrapperTriple {
    height:160px;
    padding:0px
  }

}
